In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

data_path = 'data/fhv_tripdata_2019-10.csv.gz'

df = spark.read \
    .option("header", "true") \
    .csv(data_path)

df.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/02 22:55:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [7]:
output_path = 'data/pq/'
df \
    .repartition(6) \
    .write.parquet(output_path)

In [2]:
from pyspark.sql import types
import pyspark.sql.functions as f

In [15]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropOff_datetime', TimestampType(), True), StructField('PUlocationID', IntegerType(), True), StructField('DOlocationID', IntegerType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True), StructField('pickup_timestamp', LongType(), True), StructField('dropoff_timestamp', LongType(), True), StructField('time_difference_seconds', LongType(), True)])

In [4]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True), 
    types.StructField('PUlocationID', types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
    ])

In [5]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv(data_path)

In [6]:
df.filter(
    (f.col('pickup_datetime') >= '2019-10-15 00:00:00')
    & (f.col('pickup_datetime') <= '2019-10-15 23:59:59')
).count()

62610

In [16]:
from pyspark.sql.functions import col, unix_timestamp, from_unixtime, max

In [9]:
df = df.withColumn("pickup_timestamp", unix_timestamp(col("pickup_datetime"), "yyyy-MM-dd HH:mm:ss")) \
       .withColumn("dropoff_timestamp", unix_timestamp(col("dropoff_datetime"), "yyyy-MM-dd HH:mm:ss")) \
       .withColumn("time_difference_seconds", col("dropoff_timestamp") - col("pickup_timestamp"))

In [13]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+-----------------+-----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_timestamp|dropoff_timestamp|time_difference_seconds|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+-----------------+-----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   null|                B00009|      1569889380|       1569890100|                    720|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   null|                B00013|      1569888689|       1569888802|                    113|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   null|                B00014|      1569888703|       1569890240|                   1537|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   null|                B00014|      1569891389|       1569891467|                     78|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   null|                B00014|      1569889389|       1569889707|                    318|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   null|       B00021         |      1569888048|       1569888432|                    384|
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   null|       B00021         |      1569890843|       1569891205|                    362|
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   null|       B00021         |      1569888606|       1569889190|                    584|
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   null|       B00021         |      1569891097|       1569891974|                    877|
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   null|       B00021         |      1569889703|       1569890073|                    370|
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   null|       B00021         |      1569889877|       1569891112|                   1235|
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   null|                B00037|      1569888461|       1569888923|                    462|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   null|                B00037|      1569888818|       1569889551|                    733|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   null|                B00037|      1569890560|       1569891227|                    667|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   null|                B00037|      1569891526|       1569892211|                    685|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   null|                B00037|      1569888589|       1569888877|                    288|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   null|                B00037|      1569889355|       1569890213|                    858|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   null|                B00037|      1569891267|       1569891817|                    550|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   null|                B00037|      1569888492|       1569889727|                   1235|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   null|                  #N/A|      1569888324|       1569891183|                   2859|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+-----------------+-----------------------+
only showing top 20 rows

In [17]:
df.select(max(df.time_difference_seconds)).show()

+----------------------------+
|max(time_difference_seconds)|
+----------------------------+
|                  2272149000|
+----------------------------+

In [33]:
2272149000/60/60

631152.5

In [21]:
df_zones = spark.read \
    .option("header", "true") \
    .csv('data/taxi_zone_lookup.csv')

df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [22]:
df_join = df.join(df_zones, df.PUlocationID == df_zones.LocationID,  "outer")

In [23]:
df_join.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+-----------------+-----------------------+----------+-------+----+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_timestamp|dropoff_timestamp|time_difference_seconds|LocationID|Borough|Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+-----------------+-----------------------+----------+-------+----+------------+
|              B02416|2019-10-01 00:56:00|2019-10-01 01:05:00|        null|        null|   null|                B02416|      1569891360|       1569891900|                    540|      null|   null|null|        null|
|              B02416|2019-10-01 01:01:00|2019-10-01 01:17:12|        null|        null|   null|                B02416|      1569891660|       1569892632|                    972|      null|   null|null|        null|
|              B02416|2019-10-01 01:34:00|2019-10-01 01:40:00|        null|        null|   null|                B02416|      1569893640|       1569894000|                    360|      null|   null|null|        null|
|              B02416|2019-10-01 01:02:00|2019-10-01 01:14:36|        null|        null|   null|                B02416|      1569891720|       1569892476|                    756|      null|   null|null|        null|
|              B02416|2019-10-01 01:31:00|2019-10-01 01:37:00|        null|        null|   null|                B02416|      1569893460|       1569893820|                    360|      null|   null|null|        null|
|              B02416|2019-10-01 01:01:00|2019-10-01 01:17:12|        null|        null|   null|                B02416|      1569891660|       1569892632|                    972|      null|   null|null|        null|
|              B02416|2019-10-01 01:12:00|2019-10-01 01:24:36|        null|        null|   null|                B02416|      1569892320|       1569893076|                    756|      null|   null|null|        null|
|              B02416|2019-10-01 01:15:00|2019-10-01 01:21:00|        null|        null|   null|                B02416|      1569892500|       1569892860|                    360|      null|   null|null|        null|
|              B02416|2019-10-01 01:24:00|2019-10-01 01:34:12|        null|        null|   null|                B02416|      1569893040|       1569893652|                    612|      null|   null|null|        null|
|              B02416|2019-10-01 02:58:00|2019-10-01 03:04:00|        null|        null|   null|                B02416|      1569898680|       1569899040|                    360|      null|   null|null|        null|
|              B02416|2019-10-01 02:44:00|2019-10-01 02:54:12|        null|        null|   null|                B02416|      1569897840|       1569898452|                    612|      null|   null|null|        null|
|              B02416|2019-10-01 03:16:00|2019-10-01 03:25:00|        null|        null|   null|                B02416|      1569899760|       1569900300|                    540|      null|   null|null|        null|
|              B02416|2019-10-01 03:47:00|2019-10-01 04:03:12|        null|        null|   null|                B02416|      1569901620|       1569902592|                    972|      null|   null|null|        null|
|              B02416|2019-10-01 03:23:00|2019-10-01 03:35:36|        null|        null|   null|                B02416|      1569900180|       1569900936|                    756|      null|   null|null|        null|
|              B02416|2019-10-01 04:33:00|2019-10-01 04:43:12|        null|        null|   null|                B02416|      1569904380|       1569904992|                    612|      null|   null|null|        null|
|              B02416|2019-10-01 04:59:00|2019-10-01 05:15:12|        null|        null|   null|                B02416|      1569905940|       1569906912|                    972|      null|   null|null|        null|
|              B02416|2019-10-01 04:38:00|2019-10-01 04:50:36|        null|        null|   null|                B02416|      1569904680|       1569905436|                    756|      null|   null|null|        null|
|              B02416|2019-10-01 04:41:00|2019-10-01 04:53:36|        null|        null|   null|                B02416|      1569904860|       1569905616|                    756|      null|   null|null|        null|
|              B02416|2019-10-01 04:30:00|2019-10-01 04:40:12|        null|        null|   null|                B02416|      1569904200|       1569904812|                    612|      null|   null|null|        null|
|              B02416|2019-10-01 04:29:00|2019-10-01 04:41:36|        null|        null|   null|                B02416|      1569904140|       1569904896|                    756|      null|   null|null|        null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------------+-----------------+-----------------------+----------+-------+----+------------+
only showing top 20 rows

In [26]:
df_join.registerTempTable('df')

/home/hossam/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [30]:
spark.sql("""
SELECT 
    zone, count(zone)
FROM
    df
    where PUlocationID is not null
GROUP BY
    1
    order by 2 asc
""").show()

+--------------------+-----------+
|                zone|count(zone)|
+--------------------+-----------+
|         Jamaica Bay|          1|
|Governor's Island...|          2|
| Green-Wood Cemetery|          5|
|       Broad Channel|          8|
|     Highbridge Park|         14|
|        Battery Park|         15|
|Saint Michaels Ce...|         23|
|Breezy Point/Fort...|         25|
|Marine Park/Floyd...|         26|
|        Astoria Park|         29|
|    Inwood Hill Park|         39|
|       Willets Point|         47|
|Forest Park/Highl...|         53|
|  Brooklyn Navy Yard|         57|
|        Crotona Park|         62|
|        Country Club|         77|
|     Freshkills Park|         89|
|       Prospect Park|         98|
|     Columbia Street|        105|
|  South Williamsburg|        110|
+--------------------+-----------+
only showing top 20 rows